  <div class="container">
    <h1 style="text-align: center;">All Puppies</h1>
    <br>
        <%= render 'dog_card' %>
    <div>
      <br>
      <%= link_to "+ New Pupper", new_dog_path, class:"btn btn-primary"%>
    </div>
  </div>

