<div class="container">
  <h1><%= @dog.name %></h1>
  <%= link_to "Delete", dog_path(@dog),
      method: :delete,
      data: { confirm: "Are you sure you want to remove this barkiful friend?" } %>
</div>
