<div>
  <%= simple_form_for @review, url: dog_dog_reviews_path(@dog) do |f| %>
      <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
      <%= f.input :content %>
      <%= f.button :submit, class:"btn btn-secondary" %>
  <% end %>
</div>
