<div>
  <%= form_tag dogs_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :date,
      params[:date],
      input_html: {class: "datepicker"},
      class: "form-control",
        style:"color: dark-grey; opacity: 0.7; margin-right: 20px;",

      placeholder: "When?"
    %>
    <%= text_field_tag :location,
      params[:date],
      class: "form-control",
        style:"color: dark-grey; opacity: 0.7; margin-right: 20px;",
      placeholder: "Where?"
    %>
    <%= button_tag "Search!", class: "form-control btn btn-primary" %>
  <% end %>

</div>
