<div class="landing_page_form ml-5">
  <%= form_tag dogs_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :date,
      params[:date],
      class: "form-control datepicker",
        style:"color: dark-grey; opacity: 0.7; background-color: white;",

      placeholder: "When?"
    %>
    <%= text_field_tag :location,
      params[:location],
      id: 'dog_address',
      class: "form-control m-3",
        style:"color: dark-grey; opacity: 0.7; background-color: white",
      placeholder: "Where?"
    %>
    <%= button_tag "Search", class: "btn btn-primary btn-green" %>
  <% end %>

</div>
