<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://images.pexels.com/photos/1663421/pexels-photo-1663421.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class= "d-flex justify-content-between my-4 mx-5 align-items-center">
    <div id="icon-white">
      <i class="fas fa-paw"></i>
    </div>
    <div class="list-unstyled">
      <% if user_signed_in? %>
        <%= render 'layouts/dropdown' %>
       <% else %>
        <%= link_to "Login", new_user_session_path, class: "link-white" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "link-white" %>
      <% end %>
    </div>
  </div>
  <div class="container home-container">

    <div class="home-container-items card-transparent">
      <h1 class="mb-2 home-title">Puppy Pals brings <strong>dogs</strong> to <strong>dog people</strong></h1>
      <h3>Hang out with furry friends in your neighborhood</h3>
    <%= render 'form' %>
    </div>

  </div>
</div>

