
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>Puppy Pals brings <strong>dogs</strong> to <strong>dog people</strong>!</h1>
    <p>Hang out with furry friends in your neighborhood.</p>
    <a class="btn btn-flat" href="#">Apply now</a>

  </div>
</div>

