.banner {
  background-size: cover;
  background-position: center;
  padding: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#icon-white {
  color: white;
  font-size: 30px;
}

#search-form {
  margin-top: 300px;
}

.link-white {
  color: white;
  text-decoration: none;
  margin: 10px;
    &:hover {
      text-decoration: none;
      color: gray;
    }
}
