.card-white {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10vw;
  padding: 40px;
}

.card-transparent {
  background:rgba(255,255,255, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  width: 50vw !important;
  text-align: center;
}
