.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 14px;
}

.pending {
  box-shadow: 0 0 10px rgba(243,118,41,0.3);
}

.approved {
  box-shadow: 0 0 10px rgba(98,200,41,0.3);
}

.declined {
  box-shadow: 0 0 10px rgba(236,66,34,0.3);
}

.btn-height-width {
  width: 120px;
  height: 35px;
}

.pending-status-box {
  background-color: #F37629;
  border-color: #F37629;
}

.approved-status-box {
  background-color: rgb(98,200,41);
  border-color: rgb(98,200,41);
}

.card-product-infos img {
  height: 20px;
  width: 20px;
}

.status-box {
  text-align: right;
  align-items: right;
}
