<form class="form-inline" action="/dogs" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="✓">
  <input type="text" name="location" id="location" class="navbar-search" placeholder="🔎 New Location">
<!-- <input style="font-family:'Font Awesome 5' !important" type="
text" name="location" id="location" class="navbar-search" placeholder="&#xf5d1">
 -->
</form>
