<form class="form-inline" action="/dogs" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="✓">
  <input type="text" name="location" id="location" class="navbar-search" placeholder= "New Location">
</form>
